@import '../../../../css/base/variables';
@import '../../../../css/utils/mixins';

.content {
    --action-confirmation-popup-content-element-size: 10px;
    --action-confirmation-popup-content-element-margin-right: 9px;
    display: flex;
    flex-direction: column;
}

.title {
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;

    &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        border: 1px solid currentColor;
        position: relative;
        width: var(--action-confirmation-popup-content-element-size);
        height: var(--action-confirmation-popup-content-element-size);
        transform: translate(0, -50%) rotate(45deg);
        flex-shrink: 0;
        margin-right: var(--action-confirmation-popup-content-element-margin-right);
        top: 0.66em;
    }
}

.text {
    color: #6e6e6e;
    padding-left: calc(
        var(--action-confirmation-popup-content-element-size) +
            var(--action-confirmation-popup-content-element-margin-right)
    );
}
