.index-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow: clip;

    .page {
        @include tablet {
            padding-left: 0;
            padding-right: 0;
        }

        &:not(.has-entered-experience) {
            .index-left-link {
                .dotted-square {
                    @include tablet {
                        transform: translate(-50%, -50%) translate(50vw) rotate(45deg);
                    }
                }
            }

            .index-right-link {
                .dotted-square {
                    @include tablet {
                        transform: translate(50%, -50%) translate(-50vw) rotate(45deg) scale(1.15);
                    }
                }
            }

            .dotted-square__link-wrapper {
                @include tablet {
                    opacity: 0;
                }
            }

            .index-left-link {
                .dotted-square__link-wrapper {
                    transform: translate3d(20px, 0, 0);
                }
            }

            .index-right-link {
                .dotted-square__link-wrapper {
                    transform: translate3d(-20px, 0, 0);
                }
            }
        }

        &.has-entered-experience {
            .index-left-link {
                .dotted-square {
                    transform: translate(-60%, -50%) rotate(45deg);
                }
            }

            .index-right-link {
                .dotted-square {
                    transform: translate(60%, -50%) rotate(45deg);
                }
            }

            .index-enter-exp-btn {
                @include tablet {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .index-content {
                @media screen and (max-width: 1024px) and (orientation: portrait) {
                    transition: transform 1s $app-easing, opacity 0.4s $app-easing, visibility 0.4s $app-easing;
                    transform: translate3d(0, -20vh, 0);
                }

                @include vertical-mobile {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .index-title-wrapper {
                @media screen and (max-width: 1024px) and (orientation: portrait) {
                    transition: transform 1s $app-easing;
                    transform: scale(0.8);
                }
            }

            .index-description {
                @media screen and (max-width: 1024px) and (orientation: portrait) {
                    transition: transform 1s $app-easing;
                    transform: translate3d(0, -50px, 0);
                }
            }
        }

        &.is-page-leaving {
            .index-dotted-square .dotted-square {
                &::before {
                    transition: transform var(--transition-duration) $app-easing calc(var(--transition-duration) / 2);
                    transform: translate(-50%, -50%);
                }

                &::after {
                    transition: transform var(--transition-duration) $app-easing,
                        opacity 0s ease calc(var(--transition-duration) / 2);
                    transform: translate(-50%, -50%) scale(1.1);
                    opacity: 0;
                }
            }
        }
    }
}

.index-title-container {
    margin: auto;
    text-align: center;

    @include tablet {
        margin: 0;
    }
}

.index-title-wrapper {
    will-change: transform;
}

.index-title {
    will-change: transform;
    max-width: 14ch;

    @media screen and (max-width: 1024px) {
        @include responsive-font-size(88px, 64px, 768px, 1024px);
    }

    @media screen and (max-width: 767px) {
        @include responsive-font-size(48px, 88px, 320px, 768px);
    }

    @media screen and (max-width: 900px) and (orientation: landscape) {
        @include responsive-font-size(32px, 56px, 320px, 768px);
    }
}

.index-content {
    display: contents;

    @include tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-left: var(--offset-x);
        padding-right: var(--offset-x);
    }
}

.index-description {
    text-transform: uppercase;
    max-width: 316px;

    @include tablet {
        text-align: center;
        margin-top: 60px;
        max-width: 280px;
    }

    @include mobile {
        margin-top: 49px;
        max-width: 255px;
    }

    @media screen and (max-width: 900px) and (orientation: landscape) {
        margin-top: 20px;
    }
}

.index-dotted-square {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    will-change: transform;

    .dotted-square {
        --size: 23.43vw;
        position: absolute;
        top: 50%;
        pointer-events: none;

        @media screen and (max-width: 1366px) {
            --size: 30vw;
        }

        @include tablet {
            --size: 42vmax;
        }
    }

    .icon-btn__text {
        opacity: 0.7;
    }
}

.dotted-square__link-wrapper {
    @include tablet {
        transition: transform 0.5s $app-easing 0.5s, opacity 0.5s $app-easing 0.5s;
    }
}

.index-dotted-square__link {
    display: flex;
}

.index-left-link {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    .dotted-square {
        left: 0;
        transform: translate(-50%, -50%) rotate(45deg);

        @include tablet {
            will-change: transform;
            transition: transform 1s $app-easing;
        }
    }

    .dotted-square__item {
        margin-left: var(--offset-x);
    }

    svg {
        transform: rotate(-45deg) translate(-1px, 0);
    }
}

.index-right-link {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    .dotted-square {
        right: 0;
        transform: translate(50%, -50%) rotate(45deg);

        @include tablet {
            will-change: transform;
            transition: transform 1s $app-easing;
        }
    }

    .dotted-square__item {
        margin-right: var(--offset-x);
    }

    svg {
        transform: rotate(135deg) translate(-1px, 0);
    }
}

.dotted-square__item {
    @include mobile {
        flex-direction: column;

        .icon-btn__text {
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-top: 11px;
            order: 1;
        }
    }
}

.index-enter-exp-btn {
    margin-top: 60px;
    display: none;
    transition: opacity 0.2s ease, visibility 0.2s ease;

    @include tablet {
        display: inline-flex;
    }

    @media screen and (max-width: 900px) {
        margin-top: 53px;
    }

    @include mobile {
        margin-top: 48px;
    }

    @media screen and (max-width: 900px) and (orientation: landscape) {
        margin-top: 20px;
    }

    svg {
        transform: rotate(135deg) translate(-1px, 0);
    }
}
